<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Paypal\Model\Config" type="Done\PayPalCurrency\Model\Magento\Paypal\Config" />
    <preference for="Magento\Paypal\Model\Express\Checkout" type="Done\PayPalCurrency\Model\Magento\Paypal\Express\Checkout" />
	<preference for="Magento\Paypal\Model\Express" type="Done\PayPalCurrency\Model\Magento\Paypal\Express" />
	<preference for="Magento\Paypal\Model\Api\Nvp" type="Done\PayPalCurrency\Model\Magento\Paypal\Api\Nvp" />
	
		 
</config>
